/* SPDX-License-Identifier: GPL-2.0-or-later */

/* tailwind v4.1.10 | MIT License | https://github.com/tailwindlabs/tailwindcss

/* tailwind preflight */
/* stylelint-disable plugin/no-unsupported-browser-features */

*,
::after,
::before,
::backdrop,
::file-selector-button {
	box-sizing: border-box; /* 1 */
	margin: 0; /* 2 */
	padding: 0; /* 2 */
	border: 0 solid; /* 3 */
}

html,
:host {
	line-height: 1.5; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	tab-size: 4; /* 3 */
	font-family: --theme(
		--default-font-family,
		ui-sans-serif,
		system-ui,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji"
	); /* 4 */

	font-feature-settings: --theme(--default-font-feature-settings, normal); /* 5 */
	font-variation-settings: --theme(--default-font-variation-settings, normal); /* 6 */
	-webkit-tap-highlight-color: transparent; /* 7 */
}

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
	border-top-width: 1px; /* 3 */
}

abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

a {
	color: inherit;
	-webkit-text-decoration: inherit;
	text-decoration: inherit;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp,
pre {
	font-family: --theme(
		--default-mono-font-family,
		ui-monospace,
		SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		"Liberation Mono",
		"Courier New",
		monospace
	); /* 1 */

	font-feature-settings: --theme(--default-mono-font-feature-settings, normal); /* 2 */
	font-variation-settings: --theme(
		--default-mono-font-variation-settings,
		normal
	); /* 3 */

	font-size: 1em; /* 4 */
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
	border-collapse: collapse; /* 3 */
}

:-moz-focusring {
	outline: auto;
}

progress {
	vertical-align: baseline;
}

summary {
	display: list-item;
}

ol,
ul,
menu {
	list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block; /* 1 */
	vertical-align: middle; /* 2 */
}

img,
video {
	max-width: 100%;
	height: auto;
}

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
	font: inherit; /* 1 */
	font-feature-settings: inherit; /* 1 */
	font-variation-settings: inherit; /* 1 */
	letter-spacing: inherit; /* 1 */
	color: inherit; /* 1 */
	border-radius: 0; /* 2 */
	opacity: 1; /* 4 */
}

:where(select:is([multiple], [size])) optgroup {
	font-weight: bolder;
}

:where(select:is([multiple], [size])) optgroup option {
	padding-inline-start: 20px;
}

::file-selector-button {
	margin-inline-end: 4px;
}

::placeholder {
	opacity: 1;
}

@supports (not (-webkit-appearance: -apple-pay-button)) /* Not Safari */ or
	(contain-intrinsic-size: 1px) /* Safari 17+ */ {
	::placeholder {
		color: color-mix(in oklab, currentcolor 50%, transparent);
	}
}

textarea {
	resize: vertical;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-date-and-time-value {
	min-height: 1lh; /* 1 */
	text-align: inherit; /* 2 */
}

::-webkit-datetime-edit {
	display: inline-flex;
}

::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
	padding-block: 0;
}

:-moz-ui-invalid {
	box-shadow: none;
}

button,
input:where([type="button"], [type="reset"], [type="submit"]),
::file-selector-button {
	appearance: button;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
	display: none !important;
}

/* tailwind preflight end */

progress[value] {
	vertical-align: baseline;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

progress[value]::-webkit-progress-bar {
	background-color: #eee;
	box-shadow: 0 2px 5px rgb(0 0 0 / 25%) inset;
}

progress[value]::-webkit-progress-value {
	background: var(--color3);
}

progress[value]::-moz-progress-bar {
	background: var(--color3);
}

/* stylelint-enable  plugin/no-unsupported-browser-features */

:root {
	font-family: Arial, Helvetica, sans-serif;

	--scale: 1;
	--spacing: 4px;
	--sidebar-width: calc(var(--scale) * 18rem);
	--topbar-height: calc(var(--scale) * 4rem);
	--size-minus-topbar: calc(100% - var(--topbar-height));
	--options-menu-btn-width: calc(var(--scale) * 3rem);
	--gridsize: 1;
	--color-text: hsl(215deg 40% 90%);
	--color0: hsl(215deg 40% 8%);
	--color1: hsl(215deg 40% 17%);
	--color2: hsl(215deg 40% 22%);
	--color3: hsl(215deg 40% 28%);
	--color-icon: invert(75%);
	--color-green: hsl(120deg 55% 26%);
	--color-green2: hsl(120deg 55% 17%);
	--color-orange: hsl(40deg 100% 50%);
	--color-red: hsl(0deg 70% 50%);
	--color-red2: hsl(0deg 70% 40%);
}

ul {
	margin: 0;
	padding: 0;
}

li,
span {
	display: block;
}

input {
	display: block;
	padding: 0;
}

a:focus {
	outline: none;
}

img {
	pointer-events: none;
}

.text-color {
	color: var(--color-text);
}

.text-red {
	color: var(--color-red);
}

.bg-color0 {
	background: var(--color0);
}

.bg-color1 {
	background: var(--color1);
}

.bg-color2 {
	background: var(--color2);
}

.bg-color3 {
	background: var(--color3);
}

.hover\:bg-color2:hover {
	background: var(--color2);
}

.hover\:bg-color3:hover {
	background: var(--color3);
}

.icon-filter {
	filter: var(--color-icon);
}

.bg-green {
	background: var(--color-green);
}

.hover\:bg-green2:hover {
	background: var(--color-green2);
}

.bg-red {
	background: var(--color-red);
}

.hover\:bg-red2:hover {
	background: var(--color-red2);
}

.border-color1 {
	border-color: var(--color1);
}

.border-color2 {
	border-color: var(--color2);
}

.border-color3 {
	border-color: var(--color3);
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.shrink-0 {
	flex-shrink: 0;
}

.grow {
	flex-grow: 1;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.text-center {
	text-align: center;
}

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.m-auto {
	margin: auto;
}

.mr-auto {
	margin-right: auto;
}

.p-1 {
	padding: calc(var(--spacing) * 1);
}

.pr-1 {
	padding-right: calc(var(--spacing) * 1);
}

.pl-1 {
	padding-left: calc(var(--spacing) * 1);
}

.pb-1 {
	padding-bottom: calc(var(--spacing) * 1);
}

.px-1 {
	padding-inline: calc(var(--spacing) * 1);
}

.py-1 {
	padding-block: calc(var(--spacing) * 1);
}

.mr-1 {
	margin-right: calc(var(--spacing) * 1);
}

.mb-1 {
	margin-bottom: calc(var(--spacing) * 1);
}

.ml-1 {
	margin-left: calc(var(--spacing) * 1);
}

.p-2 {
	padding: calc(var(--spacing) * 2);
}

.pr-2 {
	padding-right: calc(var(--spacing) * 2);
}

.pl-2 {
	padding-left: calc(var(--spacing) * 2);
}

.px-2 {
	padding-inline: calc(var(--spacing) * 2);
}

.py-2 {
	padding-block: calc(var(--spacing) * 2);
}

.m-2 {
	margin: calc(var(--spacing) * 2);
}

.mt-2 {
	margin-top: calc(var(--spacing) * 2);
}

.mr-2 {
	margin-right: calc(var(--spacing) * 2);
}

.mb-2 {
	margin-bottom: calc(var(--spacing) * 2);
}

.ml-2 {
	margin-left: calc(var(--spacing) * 2);
}

.mx-2 {
	margin-inline: calc(var(--spacing) * 2);
}

.p-3 {
	padding: calc(var(--spacing) * 3);
}

.pl-4 {
	padding-left: calc(var(--spacing) * 4);
}

.px-4 {
	padding-inline: calc(var(--spacing) * 4);
}

.mr-4 {
	margin-right: calc(var(--spacing) * 4);
}

.ml-4 {
	margin-left: calc(var(--spacing) * 4);
}

.border {
	border-width: 1px;
}

.border-b-2 {
	border-bottom-width: 2px;
}

/* Mobile portrait mode */

/* sidebar */
#topbar {
	z-index: 1;
	width: 100%;
}

#options-btn {
	right: 0;
	z-index: 2;
}

#options-btn:hover ~ * #topbar-options-btn {
	background: var(--color2);
}

#options-menu {
	right: 0;
	visibility: hidden;
	top: var(--topbar-height);
}

#options-checkbox:checked ~ #options-menu {
	visibility: visible;
}

.options-popup {
	right: var(--options-menu-btn-width);
}

.options-popup-open {
	display: flex !important;
}

/* Date picker. */
.date-picker-day-btn {
	height: calc(var(--scale) * 2rem);
	width: calc(var(--scale) * 2rem);
	color: var(--color-text);
	border-width: 2px;
	border-color: var(--color2);
	border-radius: calc(var(--scale) * 0.5rem);
	background: var(--color3);
	font-size: calc(var(--scale) * 1.5rem);
	line-height: calc(var(--scale) * 1.9rem);
}

.date-picker-day-selected {
	background: var(--color-red2);
}

.date-picker-hour {
	display: flex;
	justify-content: center;
}

.date-picker-hour-input::-webkit-inner-spin-button,
.date-picker-hour-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

/* Sidebar. */

#sidebar {
	position: absolute;
	width: var(--sidebar-width);
	transform: translateX(-100%);
	transition: transform 400ms;
}

#sidebar-btn {
	width: var(--topbar-height);
}

#sidebar-closer {
	display: none;
	width: 100vw;
}

#sidebar-checkbox:checked ~ #sidebar {
	transform: none;
}

#sidebar-checkbox:checked ~ #sidebar-closer {
	display: block;
}

#sidebar-checkbox:checked ~ #sidebar-btn {
	width: var(--sidebar-width);
}

#sidebar-btn:hover ~ * #topbar-btn {
	background: var(--color2);
}

#sidebar-btn:hover ~ * #nav-btn {
	background: var(--color2);
}

/* Content */
#content {
	padding-top: var(--topbar-height);
}

.grid-fullscreen {
	display: flex;
	position: absolute;
	z-index: 100;
	width: 100vw;
	height: 100dvh;
	top: 0;
	left: 0;
	background: var(--color0);
}

/* Modal */
.modal-open {
	display: flex !important;
}

.modal {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 100%;
	margin: auto;
	background: var(--color3);
	padding-bottom: calc(var(--spacing) * 4);
}

/* Modal select */
.modal-select-option-selected {
	background: var(--color2);
}

/* form */

/*
.form-field-select-custom-btn {
	flex-shrink: 0;
	width: calc(var(--scale) * 3.4rem);
	height: calc(var(--scale) * 3.4rem);
	margin-left: calc(var(--spacing) * 7);
	padding: 0;
	border: 0;
	border-radius: calc(var(--scale) * 0.5rem);
}

.form-field-select-custom-btn:hover {
	background: black;
}
*/

/* buttons */
.checkbox-box {
	background: var(--color1);
}

.checkbox-check {
	visibility: hidden;
}

.checkbox-checkbox:checked ~ .checkbox-box {
	background: var(--color2);
}

.checkbox-checkbox:checked ~ .checkbox-check {
	visibility: visible;
}

/* Player */
.player-overlay {
	visibility: hidden;
	opacity: 0.1;
	transition:
		visibility 0.8s,
		opacity 0.7s;
	transition-timing-function: ease-in;
}

.player-overlay:hover {
	visibility: visible;
	opacity: 0.8;
}

.player-overlay-checkbox:checked ~ .player-overlay {
	visibility: visible;
	opacity: 0.8;
	transition: visibility 0s;
	transition: opacity 0s;
}

.player-overlay-checkbox:hover ~ .player-overlay {
	visibility: visible;
	opacity: 0.8;
	transition:
		visibility 0s,
		opacity 0.1s;
}

.player-overlay:hover ~ .player-overlay {
	visibility: visible;
	opacity: 1;
}

.player-options-open-btn {
	opacity: 0.5;
}

.player-options-open-btn:hover {
	opacity: 0.8;
}

.player-options-show {
	display: grid !important;
}

/* Feed. */
.feed-btn::-moz-focus-inner {
	border: 0;
}

/* Mobile Landscape mode. */
@media (aspect-ratio >= 3/2) {
	:root {
		--gridsize: 2;
	}

	#current-page {
		display: none;
	}

	#topbar {
		flex-direction: column;
		width: auto;
		height: 100%;
	}

	#options-btn {
		bottom: 0;
		right: auto;
	}

	#topbar-options-btn {
		margin-top: auto;
	}

	#options-menu {
		right: auto;
		bottom: var(--topbar-height);
		left: 0;
	}

	.options-popup {
		top: calc(-1 * var(--topbar-height));
		right: auto;
		left: var(--topbar-height);
		width: auto;
	}

	.date-picker {
		height: 100dvh;
	}

	#logout {
		display: none;
	}

	#statusbar {
		display: none;
	}

	#content {
		padding-top: 0;
		padding-left: var(--topbar-height);
	}
}

/* Tablet/Dektop. */
@media only screen and (width >= 48rem) {
	:root {
		--scale: 0.75;
		--spacing: 3px;
		--gridsize: 3;
	}

	#topbar {
		z-index: 6;
		flex-direction: row;
		width: var(--sidebar-width);
		height: auto;
		transition: width 400ms;
	}

	#topbar-options-btn {
		margin-left: auto;
	}

	#current-page {
		display: none;
	}

	#options-btn {
		right: auto;
		bottom: auto;
		left: calc(var(--sidebar-width) - var(--topbar-height));
		z-index: 7;
	}

	#options-menu {
		inset: auto auto auto var(--sidebar-width);
		transition: left 400ms;
	}

	.options-popup {
		top: 0;
		right: auto;
		left: var(--options-menu-btn-width);
		width: auto;
	}

	.date-picker {
		height: auto;
	}

	#sidebar {
		position: relative;
		width: var(--sidebar-width);
		transform: none;
		transition: width 400ms;
	}

	#content {
		padding-top: 0;
		padding-left: var(--sidebar-width);
		transition: padding-left 400ms;
	}

	#sidebar-checkbox:checked ~ #options-menu {
		left: calc(var(--topbar-height) * 2);
	}

	#sidebar-checkbox:checked ~ #options-btn {
		left: var(--topbar-height);
	}

	#sidebar-checkbox:checked ~ #sidebar {
		width: 0;
	}

	#sidebar-checkbox:checked ~ #sidebar-btn {
		width: var(--topbar-height);
	}

	#sidebar-checkbox:checked ~ #content {
		padding-left: 0;
		transition: padding-left 400ms;
	}

	#sidebar-checkbox:checked ~ #topbar {
		width: 0;
		opacity: 0.5;
	}

	#sidebar-checkbox:checked ~ #sidebar-closer {
		width: 0;
	}

	.form {
		width: auto;
	}

	#nav-btn {
		margin-bottom: calc(var(--spacing) * 2);
		visibility: hidden;
	}

	#statusbar {
		display: block;
	}

	#logout {
		display: flex;
	}

	.modal {
		width: 30vw;
		max-height: 90vh;
		border-radius: calc(var(--scale) * 0.5rem);
	}

	.modal-header {
		border-radius: calc(var(--scale) * 0.5rem) calc(var(--scale) * 0.5rem) 0 0;
	}
}
