port: 2020

# Path to golang binary.
goBin: /usr/bin/go

# Path to ffmpeg binary.
ffmpegBin: /usr/bin/ffmpeg

# Project home.
homeDir: /home/_nvr/os-nvr

# Directory where recordings will be stored.
storageDir: /home/_nvr/os-nvr/storage

# Web files.
webDir: /home/_nvr/os-nvr/web

# Shared memory directory, used to store temporary files.
shmDir: /dev/shm/nvr

addons: # Uncomment to enable.

  # Object detection. https://github.com/snowzach/doods
  # Documentation is located at ../addons/doods 
  #- nvr/addons/doods

  # Thumbnail downscaling. 
  # Downscale video thumbnails to improve loading times and data usage.
  #- nvr/addons/thumbscale

  # Show system status in the web interface. CPU, RAM, disk usage.
  #- nvr/addons/status
