# Port app will be served on.
port: 2020

# Internal ports.
rtspPort: 2021
hlsPort: 2022

# Path to golang binary.
goBin: /usr/bin/go

# Path to ffmpeg binary.
ffmpegBin: /usr/bin/ffmpeg

# Project home.
homeDir: /home/_nvr/os-nvr

# Directory where recordings will be stored.
storageDir: /home/_nvr/os-nvr/storage

# Shared memory directory, used to store temporary files.
shmDir: /dev/shm/nvr


addons: # Uncomment to enable.

  # Object detection. https://github.com/snowzach/doods2
  # Documentation is located at ../addons/doods2/README.md
  #- nvr/addons/doods2

  # Thumbnail downscaling. 
  # Downscale video thumbnails to improve loading times and data usage.
  #- nvr/addons/thumbscale

  # System status.
  # Show system status in the web interface. CPU, RAM, disk usage.
  #- nvr/addons/status

  # Watchdog
  # Detect and restart frozen processes.
  #- nvr/addons/watchdog

  # Timeline
  # Works best with a Chromium based browser.
  #- nvr/addons/timeline
