[package]
name = "rust-embed-impl"
version = "6.3.1"
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[lib]
name = "rust_embed_impl"
path = "impl.rs"
doctest = false
proc-macro = true

[dependencies]
proc-macro2 = "1"
rust-embed-utils.path = "../utils"
syn = { version = "1", default-features = false, features = ["derive", "parsing", "proc-macro"] }
quote = "1"
